
.task-1
{
	font-size: 20px;

	display: inline-block;

	width: 200px;
	height: 30px;
	padding-left: 20px;

	transition: all 1s;
	&:focus
	{
		width: 400px;

		color: blue;
		box-shadow: 0 0 2px blue;
		text-shadow: 1px 1px 1px blue;
	}
}


.task-2__item
{
	width: 100px;
	height: 50px;
	margin-top: 5px;

	transition: width 2s;

	border: 1px solid red;
	&:hover
	{
		width: 400px;
	}
}

.task-3__item
{
	width: 100px;
	height: 50px;
	margin-top: 5px;

	transition: width 2s;

	border: 1px solid red;
	&:hover ~ .task-3__item
	{
		width: 400px;
	}
}
.task-4__item
{
	width: 100px;
	height: 50px;
	margin-top: 5px;

	transition: width 2s;

	border: 1px solid red;
	 &:hover ~ &:nth-child(5)
	{
		width: 400px;
	}
}


.task-7__tip{
	width: 300px;
	height: 30px;
	border: 1px solid red;
	margin-top: 20px;
	transform: translate(-400px,0px);
	transition: transform 1s;
}
.task-7__text{
	width:300px;
	height: 30px;
	border: 1px solid red;
	margin-top: 20px;
	&:hover + .task-7__tip{
		transform: translate(300px,0px);
	}
}

.task-8{
	width: 100%;
	overflow: hidden;
}
.task-8__box{
	width:300px;
	height: 30px;
	border: 1px solid red;
	p{
		padding: 0;
		margin: 0;
		padding-left: 20px;
		transform: translate(500%,0px);
		transition: transform 3s;
		// visibility:hidden;
		// animation-name: example1;
    // animation-duration: 2s;	
	}

	&:hover  p{
				transform: translate(0px,0px);

		// visibility: visible;
		// animation-name: example;
    // animation-duration: 4s;
	}
}

// @keyframes example {
		
//     0% {transform: translate(500%,0px);visibility: visible;}
// }

// @keyframes example1 {
//     100% {transform: translate(500%,0px);visibility: visible;}
// }
.task-9{
	width: 100px;
	height: 50px;
	border: 1px solid red;
	margin: 0 auto;
		transition: transform 15s linear;

	&:hover{
	transform:rotate(7200deg);
	}
}