
.task-1
{
	font-size: 20px;

	display: inline-block;

	width: 200px;
	height: 30px;
	padding-left: 20px;

	transition: all 1s;
	&:focus
	{
		width: 400px;

		color: blue;
		box-shadow: 0 0 2px blue;
		text-shadow: 1px 1px 1px blue;
	}
}


.task-2__item
{
	width: 100px;
	height: 50px;
	margin-top: 5px;

	transition: width 2s;

	border: 1px solid red;
	&:hover
	{
		width: 400px;
	}
}

.task-3__item
{
	width: 100px;
	height: 50px;
	margin-top: 5px;

	transition: width 2s;

	border: 1px solid red;
	&:hover ~ .task-3__item
	{
		width: 400px;
	}
}
.task-4__item
{
	width: 100px;
	height: 50px;
	margin-top: 5px;

	transition: width 2s;

	border: 1px solid red;
	 &:hover ~ &:nth-child(5)
	{
		width: 400px;
	}
}


.task-7__tip{
	width: 300px;
	height: 30px;
	border: 1px solid red;
	margin-top: 20px;
	transform: translate(-400px,0px);
	transition: transform 1s;
}
.task-7__text{
	width:300px;
	height: 30px;
	border: 1px solid red;
	margin-top: 20px;
	&:hover + .task-7__tip{
		transform: translate(300px,0px);
	}
}

.task-8{
	width: 100%;
	overflow: hidden;
}
.task-8__box{
	width:300px;
	height: 30px;
	border: 1px solid red;
	p{
		padding: 0;
		margin: 0;
		padding-left: 20px;
		transform: translate(500%,0px);
		transition: transform 3s;
		// visibility:hidden;
		// animation-name: example1;
    // animation-duration: 2s;	
	}

	&:hover  p{
				transform: translate(0px,0px);

		// visibility: visible;
		// animation-name: example;
    // animation-duration: 4s;
	}
}

// @keyframes example {
		
//     0% {transform: translate(500%,0px);visibility: visible;}
// }

// @keyframes example1 {
//     100% {transform: translate(500%,0px);visibility: visible;}
// }
.task-9{
	width: 100px;
	height: 50px;
	border: 1px solid red;
	margin: 0 auto;
		transition: transform 15s linear;

	&:hover{
	transform:rotate(7200deg);
	}
}


.task-10{
	width: 100px;
	height: 100px;
	position: relative;
	background-color: rgba(100,100,100,0.3);
}
.task-10__item--big{
	position: absolute;
	top: 25px;
	left: 25px;
	width: 50px;
	height: 50px;
	border-radius:50%;
	border: 1px solid red;
		transition: transform 15s;
	}
.task-10__item--small{
	position: absolute;
	left: 0;
	top: 0;
		width: 20px;
		height: 20px;
		border-radius:50%;
		border: 1px solid red;
		transition: transform 15s;
	}

	.task-10__item--big:hover + .task-10__item--small , .task-10__item--small:hover{
		transform: rotate(720deg);
		transform-origin: 50px 50px;
		transition: transform 15s;
	} 
	.next-page{
		position: fixed;
		top: 95%;
		right: 0;
		
	}

	.task-11{
		margin-top: 100px;
		margin-left: 100px;
		width: 100px;
		height: 40px;
		border: 1px solid red;
		box-shadow: 70px -70px 0px 0px black,
								-70px 70px 0px 0 black;
		transition: box-shadow 2s;
	}

	.task-11:hover{
		box-shadow: 70px 70px 0px 0px black,
								70px 70px 0px 0 black;
	}


.task-12{
	margin-top: 150px;
	width: 100px;
	height: 100px;
	transform:rotate(70deg) skewX(45deg);
	background-color: red;

}

.task-13{
	margin-top: 100px;
	margin-left: 40px;
	width: 100px;
	height: 40px;
	background-color: red;
	transition: transform 1s;
	&:hover{
		transform: skewX(40deg);
	}
}