
.task-1{
	display: inline-block;
	width: 200px;
	padding-left: 20px;
	height: 30px;
	font-size: 20px;
	transition: all 1s;
	&:focus{
		width: 400px;
		box-shadow: 0px 0px 2px blue;
		color:blue;
		text-shadow: 1px 1px 1px blue;

	}
}


.task-2__item{
	width: 100px;
	height: 50px;
	border: 1px solid red;
	transition: width 2s;
	margin-top: 5px;
	&:hover{
		width: 400px;
	}
}

