.task-1 {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  height: 30px;
  padding-left: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.task-1:focus {
  width: 400px;
  color: blue;
  box-shadow: 0 0 2px blue;
  text-shadow: 1px 1px 1px blue;
}
.task-2__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-2__item:hover {
  width: 400px;
}
.task-3__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-3__item:hover ~ .task-3__item {
  width: 400px;
}
.task-4__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-4__item:hover ~ .task-4__item:nth-child(5) {
  width: 400px;
}
