.task-1 {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  height: 30px;
  padding-left: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.task-1:focus {
  width: 400px;
  color: blue;
  box-shadow: 0 0 2px blue;
  text-shadow: 1px 1px 1px blue;
}
.task-2__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-2__item:hover {
  width: 400px;
}
.task-3__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-3__item:hover ~ .task-3__item {
  width: 400px;
}
.task-4__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-4__item:hover ~ .task-4__item:nth-child(5) {
  width: 400px;
}
.task-7__tip {
  width: 300px;
  height: 30px;
  border: 1px solid red;
  margin-top: 20px;
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.task-7__text {
  width: 300px;
  height: 30px;
  border: 1px solid red;
  margin-top: 20px;
}
.task-7__text:hover + .task-7__tip {
  -webkit-transform: translate(300px, 0px);
          transform: translate(300px, 0px);
}
.task-8 {
  width: 100%;
  overflow: hidden;
}
.task-8__box {
  width: 300px;
  height: 30px;
  border: 1px solid red;
}
.task-8__box p {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  -webkit-transform: translate(500%, 0px);
          transform: translate(500%, 0px);
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}
.task-8__box:hover p {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
