.task-1 {
  font-size: 20px;
  display: inline-block;
  width: 200px;
  height: 30px;
  padding-left: 20px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.task-1:focus {
  width: 400px;
  color: blue;
  box-shadow: 0 0 2px blue;
  text-shadow: 1px 1px 1px blue;
}
.task-2__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-2__item:hover {
  width: 400px;
}
.task-3__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-3__item:hover ~ .task-3__item {
  width: 400px;
}
.task-4__item {
  width: 100px;
  height: 50px;
  margin-top: 5px;
  -webkit-transition: width 2s;
  transition: width 2s;
  border: 1px solid red;
}
.task-4__item:hover ~ .task-4__item:nth-child(5) {
  width: 400px;
}
.task-7__tip {
  width: 300px;
  height: 30px;
  border: 1px solid red;
  margin-top: 20px;
  -webkit-transform: translate(-400px, 0px);
          transform: translate(-400px, 0px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.task-7__text {
  width: 300px;
  height: 30px;
  border: 1px solid red;
  margin-top: 20px;
}
.task-7__text:hover + .task-7__tip {
  -webkit-transform: translate(300px, 0px);
          transform: translate(300px, 0px);
}
.task-8 {
  width: 100%;
  overflow: hidden;
}
.task-8__box {
  width: 300px;
  height: 30px;
  border: 1px solid red;
}
.task-8__box p {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  -webkit-transform: translate(500%, 0px);
          transform: translate(500%, 0px);
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}
.task-8__box:hover p {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.task-9 {
  width: 100px;
  height: 50px;
  border: 1px solid red;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 15s linear;
  transition: -webkit-transform 15s linear;
  transition: transform 15s linear;
  transition: transform 15s linear, -webkit-transform 15s linear;
}
.task-9:hover {
  -webkit-transform: rotate(7200deg);
          transform: rotate(7200deg);
}
.task-10 {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: rgba(100, 100, 100, 0.3);
}
.task-10__item--big {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid red;
  -webkit-transition: -webkit-transform 15s;
  transition: -webkit-transform 15s;
  transition: transform 15s;
  transition: transform 15s, -webkit-transform 15s;
}
.task-10__item--small {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid red;
  -webkit-transition: -webkit-transform 15s;
  transition: -webkit-transform 15s;
  transition: transform 15s;
  transition: transform 15s, -webkit-transform 15s;
}
.task-10__item--big:hover + .task-10__item--small,
.task-10__item--small:hover {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  -webkit-transform-origin: 50px 50px;
          transform-origin: 50px 50px;
  -webkit-transition: -webkit-transform 15s;
  transition: -webkit-transform 15s;
  transition: transform 15s;
  transition: transform 15s, -webkit-transform 15s;
}
.next-page {
  position: fixed;
  top: 95%;
  right: 0;
}
.task-11 {
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  height: 40px;
  border: 1px solid red;
  box-shadow: 70px -70px 0px 0px black, -70px 70px 0px 0 black;
  -webkit-transition: box-shadow 2s;
  transition: box-shadow 2s;
}
.task-11:hover {
  box-shadow: 70px 70px 0px 0px black,
								70px 70px 0px 0 black;
}
.task-12 {
  margin-top: 150px;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(70deg) skewX(45deg);
          transform: rotate(70deg) skewX(45deg);
  background-color: red;
}
.task-13 {
  margin-top: 100px;
  margin-left: 40px;
  width: 100px;
  height: 40px;
  background-color: red;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.task-13:hover {
  -webkit-transform: skewX(40deg);
          transform: skewX(40deg);
}
